@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small"
                ObjectPosition="ObjectPosition.Center">

    <MudText Class="my-5">
        <h1 Style="text-align: center;">Password Reset</h1>
    </MudText>

    <MudText Class="my-5">
        <p role="alert" Style="text-align: center;">
            Your password has been reset.
        </p>
    </MudText>

    <MudButton Href="Account/Login" 
                Variant="Variant.Filled" 
                Color="Color.Primary"
                FullWidth="true"
                Size="Size.Large"
                Class="my-5">
        Back to Login
    </MudButton>

</MudContainer>