@inherits LayoutComponentBase
@layout PuppetFestAPP.Web.Components.Layout.MainLayout

<MudContainer MaxWidth="MaxWidth.Medium"
                ObjectPosition="ObjectPosition.Center">

    <MudText Class="my-5">
        <h1>Account Settings</h1>
    </MudText>

    <MudPaper Elevation="2" 
            MaxWidth="MaxWidth.Medium"
            Class="pa-4 my-5">
        @Body
    </MudPaper>

</MudContainer>
