<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    @* MudBlazor Styles *@
    <link href="https://googleapis.com" rel="stylesheet" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    
    @* App Styles *@
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PuppetFestAPP.Web.styles.css" />
    
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    @* MudBlazor Script *@
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
