@using PuppetFestAPP.Web.Components.Account.Shared

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized Context="authContext">
                @if (authContext.User.Identity?.IsAuthenticated == true)
                {
                    <div class="container mt-4">
                        <h1 class="text-danger">Access denied</h1>
                        <p class="text-danger">You do not have access to this resource.</p>
                    </div>
                }
                else
                {
                    <RedirectToLogin />
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
