:root{
    --title-font: 'DM Serif Display', serif;
    --subtitle-font: 'Raleway', sans-serif;
    --main-font: 'Work Sans', sans-serif;

    /* Back Stage Palette */
    --primary: #5D1E21;
    --primary-dark: #4D191C;
    --primary-light: #AD383E;
    --primary-hover: rgba(93, 30, 33, 0.06);

    --secondary: #154230;
    --secondary-dark: #0C271C;
    --secondary-light: #257450;
    --secondary-hover: rgba(21, 66, 48, 0.06);

    --tertiary: #A6824A;
    --tertiary-dark: #7B6137;
    --tertiary-light: #C0A272;
    --tertiary-hover: rgba(166, 130, 74, 0.06);

    --charcoal-black: #101111;
    --soft-cream: #E6E2DA;
    --white: #FFFFFF;

    --mud-palette-gray-default: #9E9E9E;
    --mud-palette-gray-light: #BDBDBD;
    --mud-palette-gray-lighter: #E0E0E0;
    --mud-palette-gray-dark: #757575;
    --mud-palette-gray-darker: #616161;

    --mud-palette-info: #2196F3;
    --mud-palette-info-darken: #0C80DF;
    --mud-palette-info-lighten: #47A7F5;
    --mud-palette-info-hover: rgba(33, 150, 243, 0.06);

    --mud-palette-success: #00C853;
    --mud-palette-success-darken: #00A344;
    --mud-palette-success-lighten: #00EB62;
    --mud-palette-success-hover: rgba(0, 200, 83, 0.06);

    --mud-palette-warning: #FF9800;
    --mud-palette-warning-darken: #D68100;
    --mud-palette-warning-lighten: #FFA724;
    --mud-palette-warning-hover: rgba(255, 152, 0, 0.06);

    --mud-palette-error: #F44336;
    --mud-palette-error-darken: #F21C0D;
    --mud-palette-error-lighten: #F66055;
    --mud-palette-error-hover: rgba(244, 67, 54, 0.06);
}

@font-face {
    font-family: 'DM Serif Display';
    src: url(fonts/DMSerifDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf) format('truetype');
}

html, body {
    font-family: var(--main-font)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

