@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="mud-text-error">Access denied</h1>
    <p class="mud-text-error">You do not have access to this resource.</p>
</header>
