@page "/Account/ForgotPassword"
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MudBlazor.Components.Snackbar.InternalComponents
@using PuppetFestAPP.Web.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<MudContainer MaxWidth="MaxWidth.Medium"
                ObjectPosition="ObjectPosition.Center">

    <PageTitle>Forgot your password?</PageTitle>

    <MudLink Href="Account/Login" 
                Variant="Variant.Text"
                Color="Color.Primary" 
                Size="Size.Large"
                StartIcon="@Icons.Material.Filled.ArrowBack"
                Style="text-decoration: none;"
                Class="my-2">
        Back to Login
    </MudLink>

    <MudText Class="my-5">
        <h1 Style="text-align: center;">Forgot Password</h1>
    </MudText>

    <MudText Class="my-5">
        <p Style="text-align: center;">If you don't remember your password, enter your email address associated with your account.</p>
    </MudText>
    
    <EditForm Model="Input" 
            FormName="forgot-password" 
            OnValidSubmit="OnValidSubmitAsync" 
            method="post"
            Class="my-5">

        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />

        @*
        <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        *@
            
        <MudTextField @bind-Value="Input.Email"
                        id="Input.Email"
                        class="form-control my-5"
                        aria-required="true"
                        Name="Input.Email" 
                        Label="Email"
                        Variant="Variant.Outlined" 
                        InputType="InputType.Email"
                        Required="true" 
                        FullWidth="true" 
        />
        
        <ValidationMessage For="() => Input.Email" class="text-danger" />

        <MudButton ButtonType="ButtonType.Submit" 
                    Variant="Variant.Filled" 
                    Color="Color.Primary" 
                    FullWidth="true" 
                    Size="Size.Large" 
                    Class="mt-4">
            Continue
        </MudButton>

    </EditForm>

</MudContainer>


@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null || !(await UserManager.IsEmailConfirmedAsync(user)))
        {
            // Don't reveal that the user does not exist or is not confirmed
            RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
        }

        // For more information on how to enable account confirmation and password reset please
        // visit https://go.microsoft.com/fwlink/?LinkID=532713
        var code = await UserManager.GeneratePasswordResetTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ResetPassword").AbsoluteUri,
            new Dictionary<string, object?> { ["code"] = code });

        await EmailSender.SendPasswordResetLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}
