@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small"
                ObjectPosition="ObjectPosition.Center">

    <MudText Class="my-5">
        <h1 Style="text-align: center;">Invalid user</h1>
    </MudText>

    <StatusMessage />

    <MudButton Href="Account/Login" 
                Variant="Variant.Filled" 
                Color="Color.Primary"
                FullWidth="true"
                Size="Size.Large"
                Class="my-5">
        Back to Login
    </MudButton>

</MudContainer>