@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small"
                ObjectPosition="ObjectPosition.Center">

    <MudText Class="my-5">
        <h1 Style="text-align: center;" class="text-danger">Locked out</h1>
    </MudText>

    <MudText Class="my-5">
        <p Style="text-align: center;" class="text-danger" role="alert">This account has been locked out, please try again later.</p>
    </MudText>

    <MudButton Href="Account/Login" 
                Variant="Variant.Filled" 
                Color="Color.Primary"
                FullWidth="true"
                Size="Size.Large"
                Class="my-5">
        Back to Login
    </MudButton>

</MudContainer>